body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(239, 246, 249) 0%,
    rgb(206, 239, 253) 90%
  );
}
.container {
  background: white;
  box-shadow: 10px 10px 20px rgba(200, 202, 225, 0.2);
  border-radius: 5px;
  margin: 20px auto;
  max-width: 550px;
  padding: 10px 30px;
  font-size: 10px;
}

.container-forecast {
  margin-top: 5px;
}
